body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

#message-container {
  width: 80%;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

#message-container div {
  margin: 8px;
  padding: 10px 15px;
  background-color: #e0e0e0;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word; 
}

#send-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  max-width: 800px;
  width: 80%;
  border-top: 1px solid #ddd;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 10px;
}

#message-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

#send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
}

#send-button:hover {
  background-color: #45a049;
}

.current-user {
  align-self: flex-start;
  background-color: #d0e0f5;
}

.other-user {
  align-self: flex-end;
}
